body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f9f9f9;
}

header {
  background: #7a005c;
  padding: 15px;
  color: white;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: #f3e6f5;
  padding: 40px;
  text-align: center;
}

section {
  padding: 20px;
}

.review-box {
  background: white;
  padding: 10px;
  margin: 10px 0;
  border-left: 4px solid #7a005c;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #7a005c;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  background: #7a005c;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
